h1 {
  color: #403930;
  font-family: "Poppins", sans-serif;
  font-weight: SemiBold;
}

p {
  font-family: "Work Sans", sans-serif;
  font-weight: medium;
}

footer {
  font-family: "Inter", sans-serif;
  font-weight: normal;
}

.hero {
  background: linear-gradient(180deg, #fff2c5 0%, rgba(250, 250, 250, 0) 100%);

  text-align: left;
}
