:root {
  --branding-gradient-color-hero: linear-gradient(
    180deg,
    #fff2c5 0%,
    rgba(250, 250, 250, 0) 100%
  );
  --branding-gradient-color-pages: linear-gradient(
    180deg,
    #eff0f3 0%,
    rgba(255, 221, 191, 0) 100%
  );
  --branding-primary-color: #fca61f;
  --branding-secondary-color: #6246ea;
  --branding-text-color: #403930;
  --heading-font-family: "Poppins", sans-serif;
  --non-heading-font-family: "Work Sans", sans-serif;
}

body {
  max-width: 100%;
  color: var(--branding-text-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: SemiBold;
  font-size: 76px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 36px;
}

p {
  font-family: var(--non-heading-font-family);
  font-weight: medium;
  font-size: 18px;
  line-height: 1.5;
}

.hero {
  background: var(--branding-gradient-color-hero);
  padding: 100px 100px;
  text-align: right;
}

.hello-banner {
  margin-top: 15px;
  margin-bottom: 20px;
  max-width: 30%;
}

.hero h2 {
  font-weight: normal;
  font-size: 48px;
  line-height: 1.5;
  color: var(--branding-text-color);
}

.btn-branding {
  background: var(--branding-primary-color);
  color: #fffffe;
  font-size: 22px;
  font-family: var(--non-heading-font-family);
  line-height: 27px;
  font-weight: 400;
  padding: 15px 30px;
  border-radius: 10px;
}

.headshot {
  max-width: 100%;
}

.recent-work {
  background: var(--branding-gradient-color-pages);
  padding: 40px;
  border-radius: 10px;
}

.btn-branding-outline {
  line-height: 27px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-family: var(--non-heading-font-family);
  color: var(--branding-primary-color);
  border: 1px solid var(--branding-primary-color);
}
