:root {
  --branding-gradient-color: linear-gradient(
    180deg,
    #fff2c5 0%,
    rgba(250, 250, 250, 0) 100%
  );

  --branding-primary-color: #fca61f;
  --branding-text-color: #403930;
  --heading-font-family: "Poppins", sans-serif;
  --non-heading-font-family: "Work Sans", sans-serif;
}

body {
  max-width: 100%;
}

h1 {
  color: #403930;
  font-family: var(--heading-font-family);
  font-weight: SemiBold;
  font-size: 76px;
}

p {
  font-family: var(--non-heading-font-family);
  font-weight: medium;
}

.hero {
  background: var(--branding-gradient-color);
  padding: 100px 100px;
  text-align: right;
}

.hello-banner {
  margin-top: 15px;
  margin-bottom: 20px;
  max-width: 30%;
}

.hero h2 {
  font-weight: normal;
  font-size: 48px;
  line-height: 1.5;
  color: var(--branding-text-color);
}

.btn-branding {
  background: var(--branding-primary-color);
  color: #fffffe;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  padding: 15px 30px;
  border-radius: 10px;
}

.headshot {
  max-width: 100%;
}
